<a href="https://colab.research.google.com/github/leo-soumyajit/Python-Tutorial/blob/main/basicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
empty_list = []
print(empty_list)

[]

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry"]
print(fruits[0])
print(fruits[-1])
print(fruits[-2])
print(fruits[-5])
try:
  print(fruits[10])
except IndexError as e:
  print(f"Error : {e}")

print(fruits)

Apple
elderberry
Mango
Apple
Error : list index out of range
['Apple', 'Banana', 'Cherry', 'Mango', 'elderberry']

In [30]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry"]

if "Mango" in fruits:
  print("Found")
else:
  print("Not Found")

#add with index
fruits.insert(0,"Guava")

#add multiple
fruits.extend(["Orange","Kiwi"])

#removed by name
fruits.remove("Guava")

#remove via index
fruits.pop(1)

print(fruits)

Found
['Apple', 'Cherry', 'Mango', 'elderberry', 'Orange', 'Kiwi']

In [ ]:
listmixing = [1,2,3,"Messi","Neymar","Pedri"]

# print(listmixing)

1
Pedri

In [ ]:
# list1=[0,1,2,3,4,5,6,7,8,9]
# list2 =[]
# for i in list1:
#   list2.append(i*i);
# print(list2)

squares = [x*x for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
list4 =[]
for i in list3:
  if(i%2==0):
    list4.append(i)
print(list4)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
numbers = [1,2,3,4,5]
numbers[1:4] = [20,30,40]
print(numbers)

print(numbers)

[1, 20, 30, 40, 5]
[1, 20, 30, 40, 5]