<a href="https://colab.research.google.com/github/leo-soumyajit/Python-Tutorial/blob/main/BasicOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
empty_list = []
print(empty_list)

[]

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry"]
print(fruits[0])
print(fruits[-1])
print(fruits[-2])
print(fruits[-5])
try:
  print(fruits[10])
except IndexError as e:
  print(f"Error : {e}")

print(fruits)

Apple
elderberry
Mango
Apple
Error : list index out of range
['Apple', 'Banana', 'Cherry', 'Mango', 'elderberry']

In [ ]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry"]

if "Mango" in fruits:
  print("Found")
else:
  print("Not Found")

#add with index
fruits.insert(0,"Guava")

#add multiple
fruits.extend(["Orange","Kiwi"])

#removed by name
fruits.remove("Guava")

#remove via index
fruits.pop(1)

print(fruits)

Found
['Apple', 'Cherry', 'Mango', 'elderberry', 'Orange', 'Kiwi']

In [ ]:
listmixing = [1,2,3,"Messi","Neymar","Pedri"]

# print(listmixing)

1
Pedri

In [ ]:
# list1=[0,1,2,3,4,5,6,7,8,9]
# list2 =[]
# for i in list1:
#   list2.append(i*i);
# print(list2)

squares = [x*x for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
list4 =[]
for i in list3:
  if(i%2==0):
    list4.append(i)
print(list4)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
numbers = [1,2,3,4,5]
numbers[1:4] = [20,30,40]
print(numbers)

print(numbers)

[1, 20, 30, 40, 5]
[1, 20, 30, 40, 5]

In [ ]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry","Banana"]
idx = fruits.index("Banana")
print(idx)

#start searching from idx 2
print(fruits.index("Banana",2))

try:
  print(fruits.index("Papaya",2))
except ValueError as e:
  print(f"Error : {e}")

#to count occourences
print(fruits.count("Banana"))

1
5
Error : 'Papaya' is not in list
2

In [ ]:
numbers = [1,2,3,4,5,1,2,3,123]
numbers.sort()
print(numbers)

#len wise sorting
fruits = ["Apple","Banana","Cherry","Mango","elderberry","Banana"]
fruits.sort(key=len)
print(fruits)

[1, 1, 2, 2, 3, 3, 4, 5, 123]
['Apple', 'Mango', 'Banana', 'Cherry', 'Banana', 'elderberry']
['Apple', 'Banana', 'Banana', 'Cherry', 'elderberry', 'Mango']

fruits.sort(key=str.lower): This is the core of the sorting. The sort() method sorts the list elements in ascending order by default. However, the key=str.lower argument modifies this behavior. It tells Python to convert each string to lowercase temporarily for comparison purposes only before sorting. The actual items in the list remain with their original casing. This ensures that 'Apple' and 'apple' are treated the same for sorting, leading to a case-insensitive sort.

In [ ]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry","Banana"]
fruits.sort(key=str.lower)
print(fruits)

In [ ]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry","Banana"]
fruits.extend("Soumyajit")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Mango', 'elderberry', 'Banana', 'S', 'o', 'u', 'm', 'y', 'a', 'j', 'i', 't']

Shallow Copy

In [ ]:
original = [1,2,3]
copied = original.copy()
copied.append(4)

print(original)
print(copied)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
numbers = [1,2,3,4,5,1,2,3,123]
#slicing
print(numbers[2:6])
print(numbers[:5])
print(numbers[5:])
print(numbers[:])

#slicing with half
half1 = numbers[:len(numbers)//2]
half2 = numbers[len(numbers)//2:]
print(half1)
print(half2)

[3, 4, 5, 1]
[1, 2, 3, 4, 5]
[1, 2, 3, 123]
[1, 2, 3, 4, 5, 1, 2, 3, 123]
[1, 2, 3, 4]
[5, 1, 2, 3, 123]

In [ ]:
numbers = [0,1,2,3,4,5,6,7,8,9]
for i in numbers[::2]:
  print(i)

print()

for i in numbers[::3]:
  print(i)

print(numbers[-3:])
print(numbers[:-2])
print(numbers[-6:-2])
print(numbers[5:2:-1])

0
2
4
6
8

0
3
6
9
[7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]
[5, 4, 3]

In [ ]:
result = []
numbers = [1,2,2,3,4,3,5]
for i in numbers:
  if i not in result:
    result.append(i)
print(result)

[1, 2, 3, 4, 5]

In [ ]:
fruits = ["Apple","Banana","Cherry","Mango","elderberry","Banana"]
for fruit in fruits:
  print(fruit)

print()

for index,fruit in enumerate(fruits):
  print(f"{index} : {fruit}")

print()

for index,fruit in enumerate(fruits,start=1):
  print(f"{index} : {fruit}")

Apple
Banana
Cherry
Mango
elderberry
Banana

0 : Apple
1 : Banana
2 : Cherry
3 : Mango
4 : elderberry
5 : Banana

1 : Apple
2 : Banana
3 : Cherry
4 : Mango
5 : elderberry
6 : Banana

In [ ]:
names = ["Alice","Bob","Charlie"]
ages = [25,30,35]
cities = ["New York","Paris","Tokyo"]

for name,age,city in zip(names,ages,cities):
  if name=='Alice':
    print(f"{name} is {age} years old and lives in {city}")

Alice is 25 years old and lives in New York

Lambda func

In [1]:
x = lambda a:a+10
print(x(5))

15

The map() function in Python applies a given function to each item in an iterable (like a list or tuple) and returns a map object, which is an iterator of the results. This makes it efficient for transforming data without explicit loops, promoting functional programming style.

In [2]:
num = [1,2,3,4,5]

#map(func,iterable)
x = list(map(lambda x:x*2,num))
print(x)

[2, 4, 6, 8, 10]

The filter() function in Python constructs an iterator from elements of an iterable for which a function returns True. Like map(), it produces a lazy iterator, so convert it to a list or tuple to view results, making it memory-efficient for large datasets.

In [5]:
num = [1,2,3,4,5]

def is_even(x):
  return x%2==0

x = list(filter(is_even,num))
print(x)

words = ['apple', 'bat', 'cat', 'ant']
y = list(filter(lambda w:w.startswith('a'),words))
print(y)

[2, 4]
['apple', 'ant']
[1, 'hello', [1, 2], True]

When filter(None, items) is used in Python, the None argument acts as a special shorthand that removes all falsy values from the iterable, keeping only truthy ones

In [6]:
items = [0, 1, '', 'hello', [], [1, 2], None, True]
truthy = list(filter(None, items))
print(truthy)  # Output: [1, 'hello', [1, 2], True]

[1, 'hello', [1, 2], True]

The reduce() function from Python's functools module applies a function cumulatively to items in an iterable, reducing them to a single value (unlike map() which transforms or filter() which selects). It performs a left-fold operation, often used for aggregations like sums or products.

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4]
total = reduce(lambda x, y: x + y, numbers)
print(total)  # 10

product = reduce(lambda x, y: x * y, numbers)
print(product)  # 24

#with initialize value here 100
numbers = [1, 2, 3]
result = reduce(lambda x, y: x + y, numbers, 100)
print(result)  # 106  (100+1+2+3)


#Find max/min:
numbers = [3, 1, 4, 1, 5]
max_val = reduce(lambda x, y: x if x > y else y, numbers)
print(max_val)  # 5

min_val = reduce(lambda x, y: x if x < y else y, numbers)
print(min_val)  # 1