<a href="https://colab.research.google.com/github/leo-soumyajit/Python-Tutorial/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionary in Python
Python dictionaries (often misspelled as "dictanary") store data as key-value pairs, offering fast lookups by unique keys. They are mutable, unordered (though insertion order is preserved since Python 3.7), and use curly braces {} for creation.

In [7]:
#example
student ={
    "name":"John",
    "age":20,
    "grade":"A"
}

# print(student["name"])
print(student)
# print(student.keys())
# print(student.values())
# print(student.items())
print(type(student))

{'name': 'John', 'age': 20, 'grade': 'A'}
<class 'dict'>

In [11]:
empty_dict = dict();
print(empty_dict)

person = dict(name="Bob", age=30)
print(person)

pairs = [("name", "Charlie"), ("age", 35), ("city","Paris")]
print(pairs) #list

person2 = dict(pairs) #converts into dict
print(person2)

{}
{'name': 'Bob', 'age': 30}
[('name', 'Charlie'), ('age', 35), ('city', 'Paris')]
{'name': 'Charlie', 'age': 35, 'city': 'Paris'}

In [13]:
#gives default value
keys = ["name", "age", "city"]
person3 = dict.fromkeys(keys, "Unknown")
print(person3)

default_dict2 = dict.fromkeys(keys)
print(default_dict2)

{'name': 'Unknown', 'age': 'Unknown', 'city': 'Unknown'}
{'name': None, 'age': None, 'city': None}

In [35]:
#example
student ={
    "name":"Soumyajit Banerjee",
    "age":21,
    "CGPA":"8.9",
    "Stream":"Information Technology"
}
print(student)

print(student.keys())
print(student.values())
print(student.items())
print(student.get("name"))
print(student.get("grade")) #no error gives None
print(student.get("grade","Not Available")) #overrites the default None to Not Availabe

print()

#all are works with key
print("name" in student)
print("grade" in student)
print("grade" not in student)
print("Soumyait Banerjee" in student)

print(len(student))

{'name': 'Soumyajit Banerjee', 'age': 21, 'CGPA': '8.9', 'Stream': 'Information Technology'}
dict_keys(['name', 'age', 'CGPA', 'Stream'])
dict_values(['Soumyajit Banerjee', 21, '8.9', 'Information Technology'])
dict_items([('name', 'Soumyajit Banerjee'), ('age', 21), ('CGPA', '8.9'), ('Stream', 'Information Technology')])
Soumyajit Banerjee
None
Not Available

True
False
True
False
4

In [30]:
car = {
    "brand":"Toyata",
    "model":"Camry",
    "year":1964
}

#can be accessed like this way
print(car["brand"])
print(car["year"])

#add or update Key here with Color
car["Color"] = "Blue"

car["year"] = 2021 #can be update via this way

#update OR ADD a key value
car.update({"model":"Corolla","price":"$25000", "type":"SEADAN"})

print(car)

#delete key with its value
del car["Color"]

print(car)

# Returns value and deletes
print(f"Popped Value {car.pop("model")}")
print(car)
# Returns value and deletes with default Value error name bydefault its None
print(f"Price popped : {car.pop("price","Not Found")}")
print(car)

Toyata
1964
{'brand': 'Toyata', 'model': 'Corolla', 'year': 2021, 'Color': 'Blue', 'price': '$25000', 'type': 'SEADAN'}
{'brand': 'Toyata', 'model': 'Corolla', 'year': 2021, 'price': '$25000', 'type': 'SEADAN'}
Popped Value Corolla
{'brand': 'Toyata', 'year': 2021, 'price': '$25000', 'type': 'SEADAN'}
Price popped : $25000
{'brand': 'Toyata', 'year': 2021, 'type': 'SEADAN'}

In [42]:
dict1 = {"a":1, "b":2}
dict2 = {"c":3, "d":4}
dict1.update(dict2)
print(f"Using Update {dict1}")


dict3 = {"a":1, "b":2}
dict4 = {"c":3, "d":4,"b":1}
#handle duplicates whose value is comes last consider its
merged_dict = {**dict3,**dict4}
print(f"Using ** Operators : {merged_dict}")


dict4 = {"a":1, "b":2}
dict5 = {"c":3, "d":4}
merged_dict = dict4 | dict5
print(f"Using | Operators : {merged_dict}")

Using Update {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Using ** Operators : {'a': 1, 'b': 1, 'c': 3, 'd': 4}
Using | Operators : {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [45]:
student ={
    "name":"Soumyajit Banerjee",
    "age":21,
    "CGPA":"8.9",
    "Stream":"Information Technology"
}
for key in student:
    print(key)

print()

for key in student.keys():
    print(key)

print()

for value in student.values():
    print(value)

print()


for key,value in student.items():
  print(f"{key} : {value}")

name
age
CGPA
Stream

name
age
CGPA
Stream

Soumyajit Banerjee
21
8.9
Information Technology

name : Soumyajit Banerjee
age : 21
CGPA : 8.9
Stream : Information Technology

In [70]:
student = {
    "student1": {
        "name": "Soumyajit Banerjee",
        "age":21,
        "course":{
            "name":"B.Tech",
            "branch":"Information Technology"
        }
    },
    "student2": {
        "name": "Hamza Majari",
        "age":22,
        "course":{
            "name":"B.Tech",
            "branch":"Information Technology"
        }
    },
    "student3": {
        "name": "Saddam Hossian",
        "age":24,
        "course":{
            "name":"B.Tech",
            "branch":"Information Technology"
        }
    }
}
print(student)

#using get
print(student["student1"].get("name"))

#using[]
print("Student Name : ",student["student1"]["name"])
print("Student Age : ",student["student2"].get("age"))

print()

#for nested
for key, value in student.items():
    for key, value in value.items():
        print(f"{key} : {value}")
    print()

{'student1': {'name': 'Soumyajit Banerjee', 'age': 21, 'course': {'name': 'B.Tech', 'branch': 'Information Technology'}}, 'student2': {'name': 'Hamza Majari', 'age': 22, 'course': {'name': 'B.Tech', 'branch': 'Information Technology'}}, 'student3': {'name': 'Saddam Hossian', 'age': 24, 'course': {'name': 'B.Tech', 'branch': 'Information Technology'}}}
Soumyajit Banerjee
Student Name :  Soumyajit Banerjee
Student Age :  22

name : Soumyajit Banerjee
age : 21
course : {'name': 'B.Tech', 'branch': 'Information Technology'}

name : Hamza Majari
age : 22
course : {'name': 'B.Tech', 'branch': 'Information Technology'}

name : Saddam Hossian
age : 24
course : {'name': 'B.Tech', 'branch': 'Information Technology'}